@font-face {
  font-family: "iconfont"; /* Project id 2707402 */
  src: url('iconfont.woff2?t=1628066600588') format('woff2'),
       url('iconfont.woff?t=1628066600588') format('woff'),
       url('iconfont.ttf?t=1628066600588') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yaling1:before {
  content: "\e618";
}

.icon-yaling:before {
  content: "\e616";
}

.icon-caidan:before {
  content: "\e62f";
}

.icon-sanjiaoxing:before {
  content: "\e620";
}

.icon-power:before {
  content: "\e615";
}

.icon-bofang:before {
  content: "\e731";
}

.icon-xueyuan-shangyijie:before {
  content: "\e6ca";
}

.icon-xueyuan-xiayijie:before {
  content: "\e6cb";
}

.icon-bofang1:before {
  content: "\e610";
}

.icon-ico_zanting_xuanzhong:before {
  content: "\e613";
}

.icon-changyongicon-1:before {
  content: "\e617";
}

.icon-cuowu:before {
  content: "\e60f";
}

.icon-xuanze-:before {
  content: "\e663";
}

.icon-changyongicon-:before {
  content: "\e612";
}

.icon-huizhang:before {
  content: "\e671";
}

.icon-M_round_solid:before {
  content: "\e648";
}

.icon-mn_tiaoxingtu:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e62c";
}

.icon-daosanjiao:before {
  content: "\e74b";
}

.icon-04:before {
  content: "\e607";
}

.icon-xindiantu:before {
  content: "\e636";
}

.icon-shouye:before {
  content: "\e614";
}

