// 个人资料信息修改页面样式
// 头部
header {
    // flex: none;
    position: relative;
    width: 100%;
    height: 50px;
    background: #4294ff;
    text-align: center;
    line-height: 50px;
    color: #fff;
    i {
        position: absolute;
        top: 0;
        left: 13px;
    }
}

.btn {
    margin-top: 60px;
    margin-left: 5%;
    width: 90%;
    line-height: 50px;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    background: #4294ff;
}





