.pannel-title-msg {
    color:#ccc;
}
.area {
    width: 50px;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

.inp1 {
    background: rgba(255,255,255,0);
    padding: 0px;
}

#captcha1 {
    margin-left: 10px;
}

.msg-text {
    color: red;
}

